{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">

    <div class="flex justify-between mb-4">
      <a href="{% url 'bookings:booking-list' %}" class="text-gray-500 hover:text-blue-500 ml-auto block">Back to
        List</a>
    </div>

    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Booking</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          Booking for {{ bookings.client }}
        </h1>

        <!-- Navigation Links -->
        <div class="flex mb-4">
          <a href="{% url 'bookings:booking-detail' bookings.pk %}"
            class="flex-grow border-b-2 py-2 text-lg px-1 {% if request.resolver_match.url_name == 'booking-detail' %}border-red-500 text-red-500{% else %}border-gray-300{% endif %}">Overview</a>
          <a href="{% url 'bookings:booking-update' bookings.pk %}"
            class="flex-grow border-b-2 py-2 text-lg px-1 {% if request.resolver_match.url_name == 'booking-update' %}border-red-500 text-red-500{% else %}border-gray-300{% endif %}">Update
            Details</a>
        </div>

        <!-- Booking Details -->
        <div class="mb-4">
          <p><strong>Pickup Location:</strong>
            {{ bookings.pickup_street_address }}
            {{ bookings.pickup_city }}
            {{ bookings.pickup_zip_code }}
            {{ bookings.pickup_state }}
          </p>
          <p><strong>Airline:</strong>
            {% if booking.airline %}
            {{ bookings.airline|default:"N/A" }}
            {% else %}
            {{ bookings.other_airline|default:"N/A" }}
            {% endif %}
          </p>
          <p><strong>Flight Number:</strong>
            {{ bookings.flight_number|default:"N/A" }}
          </p>
          <p><strong>Pickup Time:</strong> {{ bookings.pickup_time }}</p>
          <p><strong>Dropoff Location:</strong>
            {{ bookings.dropoff_street_address }}
            {{ bookings.dropoff }}
            {{ bookings.dropoff_city }}
            {{ bookings.dropoff_zip_code }}
            {{ bookings.dropoff_state }}</p>
          <p><strong>Status:</strong> <span class="text-blue-500">{{ bookings.status }}</span></p>
        </div>

        <!-- Delete Button -->
        <div class="mt-5 py-5 border-t border-gray-200">
          <a href="{% url 'bookings:booking-delete' bookings.pk %}"
            class="w-1/2 mt-3 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}