{% extends 'adminlte/base.html' %}
{% load static %}
{% block title %}Limo Link{% endblock %}

<!DOCTYPE html>
<html>
  <head>
    {% block title_outer %}
    <title>Limo Link</title>
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Limo_Manager/css/styles.css">
  </head>
  <body>
    <header>
        {% include 'includes/_navbar.html' %}
      
    </header>
    <main> Main Content </main>
  </body>
</html>



